* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.container main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box {
  cursor: pointer;
}
