* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.box {
  cursor: pointer;
}

main .head {
  display: flex;
  justify-content: space-around;
}

main .board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.hidden {
  display: none;
}
